version = 2

[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    [plugins."io.containerd.grpc.v1.cri".containerd]
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes]
        [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
          runtime_type = "io.containerd.runc.v2"
          [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
            SystemdCgroup = true
    [plugins."io.containerd.grpc.v1.cri".registry]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."192.168.95.135:5000"]
          endpoint = ["http://192.168.95.135:5000"]
      [plugins."io.containerd.grpc.v1.cri".registry.configs]
        [plugins."io.containerd.grpc.v1.cri".registry.configs."192.168.95.135:5000"]
          [plugins."io.containerd.grpc.v1.cri".registry.configs."192.168.95.135:5000".auth]
            username = "admin"
            password = "SecurePassword123!"
          [plugins."io.containerd.grpc.v1.cri".registry.configs."192.168.95.135:5000".tls]
            insecure_skip_verify = true
